<html>
<head>
	<title>JoJ-Rua!</title>
</head>
<script src="jquery-3.2.1.min.js"></script>
<script src="/main.js?<%= rand %>" type="text/javascript" charset="utf-8" async defer></script>
<style type="text/css" media="screen">
	body{ text-align: center; }
	.wait{ opacity: 0.5; }
</style>
<body>
<img id="screenshot" src="screenshot.png" height="720px" alt="">
</body>
</html>
